#card {
    width: 600px;
    height: 200px;
    position: relative;
}
#card .result {
    width: 600px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: deeppink;
    font-size: 50px;
    line-height: 200px;
}
#card #canvas {
    width: 600px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}