#card {
    width: 600px;
    height: 200px;
    position: relative;
}
#card .result {
    width: 600px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: deeppink;
    font-size: 50px;
    line-height: 200px;
}
#card #canvas {
    width: 600px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}
/*@media (max-width: 600px) {*/
/*    #card {*/
/*        width: 300px;*/
/*        height: 100px;*/
/*        position: relative;*/
/*    }*/
/*    #card .result {*/
/*        width: 300px;*/
/*        height: 100px;*/
/*        position: absolute;*/
/*        left: 0;*/
/*        top: 0;*/
/*        text-align: center;*/
/*        color: deeppink;*/
/*        font-size: 25px;*/
/*        line-height: 100px;*/
/*    }*/
/*    #card #canvas {*/
/*        width: 300px;*/
/*        height: 100px;*/
/*        position: absolute;*/
/*        left: 0;*/
/*        top: 0;*/
/*    }*/
/*}*/